.desktop-7 .profile {
  overflow-wrap: break-word;
  font-family: 'Biryani';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-7 .container-1 {
  border-radius: 10px;
  background: #EDCFCD;
  position: relative;
  margin-bottom: 1px;
  display: flex;
  padding: 0.5px 0 0 1px;
  width: 142px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-7 .cake {
  margin: 0.5px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Biryani';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-7 .cookies {
  overflow-wrap: break-word;
  font-family: 'Biryani';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-7 .container-5 {
  border-radius: 10px;
  background: #EDCFCD;
  position: relative;
  margin-right: 20px;
  display: flex;
  padding: 0.5px 1px 0 0;
  width: 142px;
  box-sizing: border-box;
}
.desktop-7 .contact {
  overflow-wrap: break-word;
  font-family: 'Biryani';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-7 .container {
  border-radius: 10px;
  background: #CC9E91;
  position: relative;
  display: flex;
  padding: 0.5px 0 0 1px;
  width: 142px;
  box-sizing: border-box;
}
.desktop-7 .container-2 {
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  width: 304px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-7 .container-7 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 630px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-7 .rectangle-3 {
  border-radius: 10px;
  background: #EDCFCD;
  position: absolute;
  right: 405px;
  bottom: 15px;
  width: 142px;
  height: 28px;
}
.desktop-7 .group-4 {
  background: #889AA0;
  position: relative;
  margin: 0 1px 22.5px 0;
  display: flex;
  padding: 16px 80px 14.5px 80px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-7 .dessert-booster {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 64px;
  color: #CC9E91;
}
.desktop-7 .boost-of-sweetness {
  position: absolute;
  right: 9.4px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Biryani';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 5.2px;
  color: #CC9E91;
}
.desktop-7 .group-5 {
  position: relative;
  margin: 0 92px 44px 92px;
  display: flex;
  align-self: flex-start;
  padding-bottom: 25.5px;
  box-sizing: border-box;
}
.whatsapp-081312301244-website-httpslinktr-eedeboost-dessertbooster-instagram-httpswww-instagram-comdeboostdessert-gofood-httpsgofood-co-idbandungrestaurantdeboost-dessert-booster-kp-soreang-kolot-1664-fcd-7336346-f-181-d-512-f-626-de-41-cf-sub4 {
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.whatsapp-081312301244-website-httpslinktr-eedeboost-dessertbooster-instagram-httpswww-instagram-comdeboostdessert-gofood-httpsgofood-co-idbandungrestaurantdeboost-dessert-booster-kp-soreang-kolot-1664-fcd-7336346-f-181-d-512-f-626-de-41-cf {
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.desktop-7 .whatsapp-081312301244-website-httpslinktr-eedeboost-dessertbooster-instagram-httpswww-instagram-comdeboostdessert-gofood-httpsgofood-co-idbandungrestaurantdeboost-dessert-booster-kp-soreang-kolot-1664-fcd-7336346-f-181-d-512-f-626-de-41-cf {
  overflow-wrap: break-word;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  color: #CC9E91;
}
.whatsapp-081312301244-website-httpslinktr-eedeboost-dessertbooster-instagram-httpswww-instagram-comdeboostdessert-gofood-httpsgofood-co-idbandungrestaurantdeboost-dessert-booster-kp-soreang-kolot-1664-fcd-7336346-f-181-d-512-f-626-de-41-cf-sub2 {
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.desktop-7 .container-3 {
  border-radius: 8px;
  background: #EDCFCD;
  position: relative;
  margin: 0 81px 88px 82px;
  display: flex;
  padding: 79.5px 6.6px 368.5px 0;
  width: 1278px;
  box-sizing: border-box;
}
.desktop-7 .jl-kp-soreang-kolot-sebelah-tara-sushi-soreang-bandung {
  overflow-wrap: break-word;
  font-family: 'Biryani';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-7 .container-6 {
  background: #889AA0;
  position: relative;
  margin-left: 1px;
  display: flex;
  padding: 15.5px 1px 16.5px 0;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-7 .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1441px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-7 .img-202407031226491 {
  background: url('assets/images/Img202407031226491.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 62px;
  height: 405px;
}
.desktop-7 .rectangle-8 {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 60px;
  height: 407px;
}
.desktop-7 {
  background: #FFFFFF;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
