.desktop-5 .rectangle-14 {
  position: absolute;
  top: 1987px;
  right: 76px;
  width: 953px;
  height: 207px;
}
.desktop-5 .profile {
  overflow-wrap: break-word;
  font-family: 'Biryani';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-5 .container-1 {
  border-radius: 10px;
  background: #EDCFCD;
  position: relative;
  margin-bottom: 1px;
  display: flex;
  padding: 0.5px 0 0 1px;
  width: 142px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-5 .cake {
  margin: 0.5px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Biryani';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-5 .cookies {
  overflow-wrap: break-word;
  font-family: 'Biryani';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-5 .container-4 {
  border-radius: 10px;
  background: #EDCFCD;
  position: relative;
  margin-right: 20px;
  display: flex;
  padding: 0.5px 1px 0 0;
  width: 142px;
  box-sizing: border-box;
}
.desktop-5 .contact {
  overflow-wrap: break-word;
  font-family: 'Biryani';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-5 .container-7 {
  border-radius: 10px;
  background: #EDCFCD;
  position: relative;
  display: flex;
  padding: 0.5px 0 0 1px;
  width: 142px;
  box-sizing: border-box;
}
.desktop-5 .container-2 {
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  width: 304px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-5 .container-12 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 630px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-5 .rectangle-3 {
  border-radius: 10px;
  background: #CC9E91;
  position: absolute;
  right: 405px;
  bottom: 15px;
  width: 142px;
  height: 28px;
}
.desktop-5 .group-2 {
  background: #889AA0;
  position: relative;
  margin: 0 1px 22.5px 0;
  display: flex;
  padding: 16px 80px 14.5px 80px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-5 .dessert-booster {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 64px;
  color: #CC9E91;
}
.desktop-5 .boost-of-sweetness {
  position: absolute;
  right: 9.4px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Biryani';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 5.2px;
  color: #CC9E91;
}
.desktop-5 .group-5 {
  position: relative;
  margin: 0 92px 82px 92px;
  display: flex;
  align-self: flex-start;
  padding-bottom: 25.5px;
  box-sizing: border-box;
}
.desktop-5 .classic-moca {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  color: #CC9E91;
}
.desktop-5 .line-1 {
  background: #CC9E91;
  margin: 0 176px 11px 0;
  width: 577px;
  height: 0px;
}
.desktop-5 .manisnya-coklat-berpadu-dengan-rasa-kopi-moca-yang-enak {
  margin-right: 225.8px;
  overflow-wrap: break-word;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  color: #CC9E91;
}
.desktop-5 .container-19 {
  border-radius: 10px;
  background: #EDCFCD;
  position: relative;
  margin: 0 81px 75px 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 31px 95px 45px 95px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-5 .tiramisu {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  color: #CC9E91;
}
.desktop-5 .line-2 {
  background: #CC9E91;
  margin: 0 176px 11px 0;
  width: 577px;
  height: 0px;
}
.desktop-5 .perpaduan-lady-finger-rasa-kopi-dengan-cream-yang-lembut {
  margin-right: 235.1px;
  overflow-wrap: break-word;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  color: #CC9E91;
}
.desktop-5 .container-10 {
  border-radius: 10px;
  background: #EDCFCD;
  position: relative;
  margin: 0 81px 75px 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 29px 95px 47px 95px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-5 .redvelvet-cheese {
  margin: 0 382.2px 9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  color: #CC9E91;
}
.desktop-5 .line-3 {
  background: #CC9E91;
  margin: 0 0 11px 5px;
  width: 577px;
  height: 0px;
}
.desktop-5 .creamy-cream-keju-yang-bercampur-dengan-kue-redvelvet-yang-lezat {
  margin-right: 19.5px;
  overflow-wrap: break-word;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  color: #CC9E91;
}
.desktop-5 .container-14 {
  border-radius: 10px;
  background: #EDCFCD;
  position: relative;
  margin: 0 81px 75px 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 29px 0 47px 0;
  width: 953px;
  box-sizing: border-box;
}
.desktop-5 .double-choco {
  margin: 0 418.7px 9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  color: #CC9E91;
}
.desktop-5 .line-4 {
  background: #CC9E91;
  margin: 0 0 11px 5px;
  width: 577px;
  height: 0px;
}
.desktop-5 .perpaduan-coklat-moist-dengan-cream-coklat-dan-taburan-coklat {
  margin-right: 14px;
  overflow-wrap: break-word;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  color: #CC9E91;
}
.desktop-5 .container-11 {
  border-radius: 10px;
  background: #EDCFCD;
  position: relative;
  margin: 0 81px 75px 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 0 49px 0;
  width: 953px;
  box-sizing: border-box;
}
.desktop-5 .milo-choco {
  margin: 0 450px 9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  color: #CC9E91;
}
.desktop-5 .line-5 {
  background: #CC9E91;
  margin: 0 0 11px 5px;
  width: 577px;
  height: 0px;
}
.desktop-5 .manisnya-coklat-moist-dengan-taburan-susu-milo-yang-enak {
  margin-right: 46.4px;
  overflow-wrap: break-word;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  color: #CC9E91;
}
.desktop-5 .container-3 {
  border-radius: 10px;
  background: #EDCFCD;
  position: relative;
  margin: 0 81px 75px 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 0 54px 0;
  width: 953px;
  box-sizing: border-box;
}
.desktop-5 .blueberry-cheese {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  color: #CC9E91;
}
.desktop-5 .line-6 {
  background: #CC9E91;
  margin: 0 5px 11px 5px;
  align-self: flex-start;
  width: 577px;
  height: 0px;
}
.desktop-5 .lembutnya-rasa-susu-dengan-sentuhan-rasa-asam-selai-blueberry {
  margin: 0 2px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  color: #CC9E91;
}
.desktop-5 .container-18 {
  border-radius: 10px;
  background: #EDCFCD;
  position: relative;
  margin: 0 72px 74px 72px;
  display: flex;
  flex-direction: column;
  padding: 20px 0 56px 88px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-5 .whats-app-image-20240707-at-18083327 {
  background: url('assets/images/WhatsAppImage20240707At18083327.jpeg');
  position: relative;
  margin-right: 33px;
  width: 386px;
  height: 207px;
}
.desktop-5 .milkbath {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  color: #CC9E91;
}
.desktop-5 .line-7 {
  background: #CC9E91;
  margin: 0 0 11px 5px;
  width: 577px;
  height: 0px;
}
.desktop-5 .perpaduan-vanilla-spongecake-susu-dengan-cream-vanilla-dan-taburan-keju {
  margin: 0 21.1px 0 2px;
  overflow-wrap: break-word;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  color: #CC9E91;
}
.desktop-5 .container-9 {
  margin: 21px 0 55px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-5 .container-5 {
  margin: 0 87px 75px 87px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-5 .greentea-choco {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  color: #CC9E91;
}
.desktop-5 .line-8 {
  background: #CC9E91;
  margin: 0 5px 11px 5px;
  align-self: flex-start;
  width: 577px;
  height: 0px;
}
.desktop-5 .cake-coklat-moist-yang-berpadu-dengan-rasa-khas-matcha-greentea {
  margin: 0 2px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  color: #CC9E91;
}
.desktop-5 .container-8 {
  border-radius: 10px;
  background: #EDCFCD;
  position: relative;
  margin: 0 67px 68px 67px;
  display: flex;
  flex-direction: column;
  padding: 19px 0 57px 85px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-5 .jl-kp-soreang-kolot-sebelah-tara-sushi-soreang-bandung {
  overflow-wrap: break-word;
  font-family: 'Biryani';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.desktop-5 .container-17 {
  background: #889AA0;
  position: relative;
  margin-left: 1px;
  display: flex;
  padding: 15.5px 0 16.5px 1px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-5 .container-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 1441px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-5 .whats-app-image-20240707-at-18083321 {
  background: url('assets/images/WhatsAppImage20240707At180833211.jpeg');
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 386px;
  height: 207px;
}
.desktop-5 .rectangle-16 {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.15);
  position: relative;
  width: 386px;
  height: 207px;
}
.desktop-5 .container {
  background: #FFFFFF;
  position: absolute;
  left: 81px;
  top: 296px;
  display: flex;
  width: 386px;
  height: 207px;
  box-sizing: border-box;
}
.desktop-5 .whats-app-image-20240707-at-18083322 {
  background: url('assets/images/WhatsAppImage20240707At18083322.jpeg');
  position: absolute;
  left: 81px;
  top: 578px;
  width: 386px;
  height: 207px;
}
.desktop-5 .rectangle-18 {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.15);
  width: 386px;
  height: 207px;
}
.desktop-5 .container-15 {
  background: url('assets/images/WhatsAppImage20240707At18083323.jpeg');
  position: absolute;
  left: 81px;
  top: 860px;
  display: flex;
  width: 386px;
  height: 207px;
  box-sizing: border-box;
}
.desktop-5 .rectangle-19 {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.15);
  width: 386px;
  height: 207px;
}
.desktop-5 .container-16 {
  background: url('assets/images/WhatsAppImage20240707At18083324.jpeg');
  position: absolute;
  left: 81px;
  top: 1142px;
  display: flex;
  width: 386px;
  height: 207px;
  box-sizing: border-box;
}
.desktop-5 .whats-app-image-20240707-at-18083325 {
  background: url('assets/images/WhatsAppImage20240707At180833251.jpeg');
  position: absolute;
  left: 81px;
  bottom: 973px;
  width: 386px;
  height: 207px;
}
.desktop-5 .rectangle-21 {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.15);
  width: 386px;
  height: 207px;
}
.desktop-5 .container-13 {
  background: url('assets/images/WhatsAppImage20240707At18083326.jpeg');
  position: absolute;
  left: 81px;
  bottom: 691px;
  display: flex;
  width: 386px;
  height: 207px;
  box-sizing: border-box;
}
.desktop-5 .rectangle-23 {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.15);
  width: 386px;
  height: 207px;
}
.desktop-5 .container-20 {
  background: url('assets/images/WhatsAppImage20240707At18083328.jpeg');
  position: absolute;
  left: 86px;
  bottom: 128px;
  display: flex;
  width: 386px;
  height: 207px;
  box-sizing: border-box;
}
.desktop-5 .rectangle-17 {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 81px;
  top: 574px;
  width: 386px;
  height: 207px;
}
.desktop-5 .rectangle-20 {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 81px;
  bottom: 977px;
  width: 386px;
  height: 207px;
}
.desktop-5 .rectangle-22 {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 86px;
  bottom: 414px;
  width: 386px;
  height: 207px;
}
.desktop-5 {
  background: #FFFFFF;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
